<nav>
        <ul>
                <li class="left"><a href="#" class="logo">OCA学生就職サポート</a></li>
                <li><a href="#">共有情報</a></li>
                <li><a href="#">企業説明</a></li>
                <li><a href="vie_create.rirekisyo.html">履歴書作成</a></li>
                <!-- <li><a href="vie_create_portfolio.html">ポートフォリオ作成</a></li> -->
                <li><a href="vie_portfolio_create.php">ポートフォリオ作成</a></li>
                <!-- <li class="right"><a href="vie_login.html" class="contact">ログイン</a></li> -->
                <li class="right"><a href="vie_login.php" class="contact">ログイン</a></li>
        </ul>
        <hr>
</nav>

<!-- <nav>
<a href="#" class="logo">OCA学生就職サポート</a></li>
<a href="#">共有情報</a></li>
<a href="#">企業説明</a></li>
<a href="vie_create.rirekisyo.php">履歴書作成</a></li>
<a href="vie_create_portfolio.php">ポートフォリオ作成</a></li>
<a href="vie_login.php" class="contact">ログイン</a></li>
</nav> -->
        
        