
body {
    margin: 0;
    text-align: center;
}
.form {
    width: 400px;
    margin: 0px auto;
    /* margin-top: 150px ; */
    margin-top: 10%;
    padding: 50px;
    border: 1px solid rgb(12, 11, 11);
  }
.email{
    border-radius: 30px;
    padding : 0px 0px 20px;
}
/* .email1{
  border-radius: 30px;

} */
.sub{
  margin-left:auto;
  margin-right:0;
  padding:.5em 1.5em;
  background:#DD8A29;
  font-size:14px;
  border-radius:30px 30px 30px 30px;
  color: rgb(15, 15, 15);
  border: none;
}



input[type="email"],
input[type="password"],
input[type="number"] {
  width: 250px;
  padding: 10px;
  font-size: 10px;
}

