/* ポートフォリオ */

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 50%;
    padding: 10%;
    text-align: center;
}

td.td33 {
    width: 33.33%;
}

/*a.a {*/
/*    margin: 0;*/
/*}*/

/* レイアウト */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
/*   https://knowledge.cpi.ad.jp/tech/169/ */
/*     justify-content: flex-start; */
/*     justify-content: space-between; */
/*     align-items: center; */
}

/* cardデザイン */
.card {
    display: flex;
/*   https://webukatu.com/wordpress/blog/16614/ */
    flex-grow: 0;
    flex-direction: column;
    flex-basis: 30%;
/*     padding: 0rem; */
    word-wrap: break-word;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border: 1px solid #cdcdcd;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0px 10px 20px -15px #000000;
}

/* 画像設定 */
.card-image {
    width: 100%;
    object-fit: contain;
}

/* url設定 */
.card-url {
  margin-top: 0px;
  text-align: center;
}

/* 文章が入る場所の設定 */
.card-box {
    padding: 1em ;
    padding-top: 0px;
}

/* トップ作品 */
/* レイアウト */
.wrapper-big {
    display: flex;
/*     flex-wrap: wrap; */
    gap: 1rem;
    padding: 1rem;
}

/* cardデザイン */
.card-big {
    display: flex;
/*     flex-direction: column; */
    flex-basis: 100%;
/*     padding: 1rem; */
    word-wrap: break-word;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border: 1px solid #cdcdcd;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0px 10px 20px -15px #000000;
}

/* 画像設定 */
.card-image-big {
    width: 50%;
    object-fit: contain;
}
/* url設定 */
.card-url-big {
  margin-top: 0px;
  margin-bottom: 1rem;
  text-align: center;
}

/* 文章が入る場所の設定 */
.card-box-big {
    padding: 1rem ;
}

/* 共通 */
/* タイトルデザイン */
.card-title,
.card-title-big {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* 文章デザイン */
.card-description,
.card-description-big {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.card:hover,
.card-big:hover,
.card-create:hover {
    box-shadow: 0 10px 20px #999;
}




.card-create {
    display: flex;
/*   https://webukatu.com/wordpress/blog/16614/ */
    flex-grow: 0;
    flex-direction: column;
    flex-basis: 30%;
    /* padding: 0rem; */
    word-wrap: break-word;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border: 1px solid #cdcdcd;
    color: #333;
    text-decoration: none;
    transition: 0.5s;

    height: 15rem;
    box-shadow: 0px 10px 20px -15px #000000;
    
}

.icon {
    /* width:100px; */
    color: #297cdd;
}

.plus {
  text-align: center;
  margin:  auto;
  font-size: 1.2rem;
}