/* 共通のcss */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
/* 色 */
:root {
    --base-color: #f5f5f5; /* ベースカラー */
    --mein-color: #297cdd; /* メインカラー */
    --second-mein-color: #09192d; /* メインカラー2 */
    --accent-color: #EE962E; /* アクセントカラー */
    --text-color: #6f6f6f; /* テキストカラー 
    --text-color: #000000; /* テキストカラー */
    --color-red: #f32929; /* 赤色 */
    --color-gray: #d9d9d9;
}
/* https://coliss.com/articles/build-websites/operation/css/css-variables.html */

/* フォント */

/* ページの色 */

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--base-color);
    margin: 0;
}

html, body {
    height: 100%;
}
/* ボタンの形 */
/* 左右が丸いもの */

/*.but-shape {*/
    
/*}*/

/* ボタンの形ボタンの色 */

.but-color-red {
    margin-left :auto;
    margin-right: 0;
    text-decoration: none;
    padding: .5em 1.5em;
    background: var(--color-red);
    font-size: 14px;
    border-radius: 30px 30px 30px 30px;
    color: antiquewhite;
    border: none;
    transition: 0.3s;
}

.but-color-blue {
    margin-left :auto;
    margin-right: 0;
    text-decoration: none;
    padding: .5em 1.5em;
    background: var(--mein-color);
    font-size: 14px;
    border-radius: 30px 30px 30px 30px;
    color: antiquewhite;
    border: none;
    transition: 0.3s;
}

.but-color-yellow {
    margin-left :auto;
    margin-right: 0;
    text-decoration: none;
    padding: .5em 1.5em;
    background: var(--accent-color);
    font-size: 14px;
    border-radius: 30px 30px 30px 30px;
    color: antiquewhite;
    border: none;
    transition: 0.3s;
}

.but-color-blue:hover,
.but-color-yellow:hover,
.but-color-red:hover{
    opacity: .7;
    cursor : pointer;
}

/* テキストの中央寄せ */
.text-align-center{
    text-align: center;
}

