<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ_学生</title><!-- 変える -->
    <link rel="stylesheet" href="../template/tmp_briefing_list.css">
</head>
<body>

    <div class="view_space">
        <select class="industry_narrowing">
            <option hidden>業界絞り込み</option>
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
        </select>
    
        <div class="enterprise">
            <!-- 企業カード表示 -->
    
            <!-- ↓↓ testdata ↓↓ -->
            <!-- 楽天のロゴ画像　不要になったら消してください -->
    
            <div class="test">
                    <img class="list_logo" src="../static/imge/log.png">
                    <p class="name">楽天</p>
                    <p class="genre">総合</p>
            </div>           
            
            <!-- ↑↑ testdata ↑↑ -->
    
        </div>

        <div class="page_button">
            <a class="before_1" href="#"></a>
            <a class="page_num" href="#">1</a> <!-- ページ数 -->            
            <a class="after_1" href="#"></a>
        </div>
    </div>
</body>
</html>