<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情報共有(学生)</title>
    <link rel="stylesheet" href="sharing.css">
</head>
<body>
    <select name="">
        <option value="option">専攻絞り込み</option>
        <option value="animation">アニメーション専攻</option>
        <option value="white">ホワイトハッカー専攻</option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <hr>
    <!--  -->
    <ul class="detail">
        <li class="detail">2022年9月16日</li>
        <li class="detail"><a class="a" href="">○○学科</a></li>
        <li class="detail"><a class="a" href="">○○専攻</a></li>
    </ul>
    <h3>人間失格</h3>
    <p>私は、その男の写真を三葉、見たことがある。一葉は、その男の、幼年時代、とでも言うべきであろうか、十歳前後かと推定される頃の写真であって、その子供が大勢の女のひとに取りかこまれ、（それは、その子供の姉たち、妹たち、それから、従姉妹いとこたちかと想像される）庭園の池のほとりに、荒い縞の袴はかまをはいて立ち、首を三十度ほど左に傾け、醜く笑っている写真である。醜く？　けれども、鈍い人たち（つまり、美醜などに関心を持たぬ人たち）は、面白くも何とも無いような顔をして、「可愛い坊ちゃんですね」といい加減なお世辞を言っても、まんざら空からお世辞に聞えないくらいの、謂いわば通俗の「可愛らしさ」みたいな影もその子供の笑顔に無いわけではないのだが、しかし、いささかでも、美醜に就いての訓練を経て来たひとなら、ひとめ見てすぐ、「なんて、いやな子供だ」と頗すこぶる不快そうに呟つぶやき、毛虫でも払いのける時のような手つきで、その写真をほうり投げるかも知れない。</p>
    <table>
        <tr>
            <th>ファイル1</th>
            <td><input type="button" value="ダウンロード"></td>
            <th>ファイル2</th>
            <td><input type="button" value="ダウンロード"></td>
        </tr>
    </table>
    <hr>
    <!--  -->
    <ul>
        <li><p><a href="">1</a></p></li>
        <li><p><a href="">2</a></p></li>
        <li><p><a href="">3</a></p></li>
        <li><p><a href="">4</a></p></li>
        <li><p><a href="">5</a></p></li>
    </ul>
</body>
</html>
