<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ
    </title>
    <link rel="stylesheet" href="../static/css/share.css">

</head>
<body>
    <p>日付自動</p>
    <p><label for="gazou">画像投稿<br><input type="file" id="gazou" required></label></p>
    <p><label for="idurl">企業URL<br><input type="text" style="width: 500px; height: 20px;" id="idurl" required></label></p>
    <p><label for="Enterprise">企業名<br><input type="text"style="width: 500px; height: 20px;" id="Enterprise" required></label></p>
    <p><label for="text">説明会内容<br><input type="text" style="width: 500px; height: 100px;" id="text" required></label></p>
    <p><label for="information">企業情報<br><input type="text" style="width: 500px; height: 100px;" id="information" required></label></p>

    <input type="submit" value="投稿">
    
</body>
</html>