<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>担任投稿</title>
    <link rel="stylesheet" href="./css/情報共有.css">
</head>
<body>
    <p><label for="title">タイトル<br><input type="text" style="width: 500px; height: 20px;" id="title" required></label></p>
    <p><label for="text">内容<br><input type="text" style="width: 500px; height: 100px;" id="text" required></label></p>
    <input type="file"><br>
    <select name="Department">
        <option value="yellow">ＡＩ・テクノロジーワールド</option>
        <option value="red">ゲームＣＧワールド</option>
        <option value="blue">e-sportsワールド</option>
        <option value="yellow">マンガ・アニメ・デザイン・メディアワールド</option>
    </select>
    <select name="Major">
        <option value="red">AIエンジニア専攻</option>
        <option value="blue">ITエンジニア専攻</option>
        <option value="yellow">ITスタートアップ専攻</option>
        <option value="red">ホワイトハッカー専攻</option>
        <option value="blue">データサイエンティスト専攻</option>
        <option value="yellow">スーパーゲームクリエーター専攻</option>
        <option value="red">クラウドゲーム専攻</option>
        <option value="blue">ゲームプログラマー専攻</option>
        <option value="yellow">ゲームグラフィック＆キャラクター専攻</option>
        <option value="red">スーパーCG・映像クリエーター専攻</option>
        <option value="blue">CGクリエーター専攻</option>
        <option value="yellow">ネット動画クリエーター専攻</option>
        <option value="red">e-sportsイベント・マネジメント専攻</option>
        <option value="blue">グラフィックデザイン＆イラスト専攻</option>
        <option value="yellow">コミックイラスト＆漫画専攻</option>
        <option value="red">アニメーション専攻</option>
        <option value="blue">シナリオ＆コンテンツ企画専攻</option>
    </select><br>
    <input type="submit" value="投稿">
    
</body>
</html>